<div class="row mt-4">
  <div class="col-sm-6 mx-auto">
    <h1 class="font-weight-bold text-center">Contact</h1>
    <table class="table table-sm table-borderless">
      <tr>
        <td>
          <mat-icon>location_on</mat-icon>
        </td>
        <td>
          <span>Visegradska 14,11000 Beograd, Srbija</span>
        </td>
      </tr>
      <tr>
        <td>
          <mat-icon>phone</mat-icon>
        </td>
        <td>
          <span>(+381) 11 457-2308</span>
        </td>
      </tr>
      <tr>
        <td>
          <mat-icon>email</mat-icon>
        </td>
        <td>
          <span>janasoft.support@gmail.com</span>
        </td>
      </tr>
      <tr>
        <td>
          <mat-icon>watch_later</mat-icon>
        </td>
        <td>
          <span>Mon-Sun / 9:00AM - 8:00PM</span>
        </td>
      </tr>
    </table>
    <button (click)="openMapLocation()" mat-raised-button color="primary">
     <mat-icon>directions</mat-icon> Get directions
    </button>
  </div>
</div>
