<app-toolbar></app-toolbar>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2 p-0">
      <mat-nav-list>
        <mat-list-item>
          <mat-icon>list</mat-icon>
          <span>Products</span>
        </mat-list-item>
        <mat-list-item>
          <mat-icon>business</mat-icon>
          <span>About</span>
        </mat-list-item>
        <mat-list-item>
          <mat-icon>perm_phone_msg</mat-icon>
          <span>Contact</span>
        </mat-list-item>
      </mat-nav-list>
    </div>
    <div class="col-sm-10 background_content content_height">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
